#image{
  position:relative;
    max-width: 100%;
    height: auto;
    display: block;
    width: 500px;
    text-align: center;
    margin:auto;
    center:auto;
}
body{
    margin: auto;
    color:black;
    background-color:#f00000;


}
p{
  line-height:60px;
  font-size:20px;
  font-style:lobster;

}
h1{
  text-align:center;
}
